 <div data-controller="modalcanvas" class="modalcanvas">
   <div style="display:none" class="modalframe" data-modalcanvas-target="modalframe">
    <div class="modal-wrapper" data-action="click->modalcanvas#close"></div>
    <div class="modal-show">
      <div class="row h-100">

        <div class="col-5 modal-info"> <!-- left column modal-->

          <h2 class="modal-title text-center" data-modalcanvas-target="title"></h2>
          <p data-modalcanvas-target="description"></p>
          <p data-modalcanvas-target="date"></p>
          <form data-modalcanvas-target="form" action="" method="delete">
            <input data-turbo-confirm="Do you really want to cancel this booking?" type="submit" class="btn btn-cancel" value="cancel booking">
          </form>

        </div>

        <div class="col-7 modal-image" data-modalcanvas-target="image"><!-- right column modal-->
          <!--<img data-modalcanvas-target="image" src="" alt="bird" height="400">-->
        </div>

      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-4 pt-4">
    <h2 class="mb-4">Your bookings</h2>

    <% if @bookings.empty? %>
      <div class="message">
        <p>You didn't book any birds yet</p>
      </div>
    <% else %>
      <div class="bookings">
        <% @bookings.each do |booking| %>
          <div class="row py-4 clickable" data-controller="booking">
            <div class="col-12"
                 data-action="click->booking-modal#toggle:stop"
                 data-controller="booking-modal"
                 data-booking-modal-modalcanvas-outlet=".modalcanvas"
                 data-booking-modal-title-value="<%= booking.bird.title %>"
                 data-booking-modal-description-value="<%= booking.bird.description %>"
                 data-booking-modal-start-value="<%= booking.start_date %>"
                 data-booking-modal-end-value="<%= booking.end_date %>"
                 data-booking-modal-id-value="<%= booking.id %>"
                 data-booking-modal-img-value= "<%= cloudinary_url(booking.bird.photo.key) %>">

              <h3><%= booking.bird.title %></h3>
              <span class="status" data-booking-target="status"><%= booking.status %></span>
              <span>from: <%= booking.start_date %> until: <%= booking.end_date %></span>

            </div>
          </div>
        <% end %>
      </div>
    <% end %>


<%# ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ incoming bookings section ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ %>

  <h2 class="border-top border-dark pt-3 mt-5">Your incoming bookings</h2>

      <% if @incoming_bookings.empty? %>
      <div class="message">
        <p>None of your cool birds have been booked yet 🙁</p>
      </div>
    <% else %>
      <div class="bookings">
        <% @incoming_bookings.each do |booking| %>
          <div class="row py-4 clickable" data-controller="booking">
            <div  class="col-12"
              data-action="click->booking-modal#toggle:stop"
              data-controller="booking-modal"
              data-booking-modal-title-value="<%= booking.bird.title %>"
              data-booking-modal-description-value="<%= booking.bird.description %>"
              data-booking-modal-start-value="<%= booking.start_date %>"
              data-booking-modal-end-value="<%= booking.end_date %>">
              <h3><%= booking.bird.title %></h3>
              <span class="status" data-booking-target="status"><%= booking.status %></span>
              <span>from: <%= booking.start_date %> until: <%= booking.end_date %></span>
              <div class="d-inline-block">
                <% if booking.status == "pending" %>
                  <%= button_to "Accept booking", booking_path(booking.id, update_type: "accept"), method: :patch, form_class: "d-inline-block", class: "btn btn-success rounded-pill" %>
                  <%= button_to "Decline booking", booking_path(booking.id, update_type: "decline"), method: :patch, form_class: "d-inline-block", class: "btn btn-danger rounded-pill" %>
                <% end %>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    <% end %>

<%# ^^^^^^^^^^^^^^^^^ incoming bookings section ^^^^^^^^^^^^^^^^^ %>

</div>
<div class="col-1"></div>
<div class="col-7 pt-4">
  <div class="row">
    <div class="col-9"><h2 class="mb-4">Your birds</h2></div>
    <div class="col-3"><%= link_to "Add bird + ", new_bird_path, class: "btn-dashboard btn btn-update"%></div>
  </div>

    <div class="row justify-content-between">
      <% if @birds.empty? %>
        <div class="message">
          <p>You have no birds for rental yet</p>
        </div>
      <% else %>
        <% @birds.each do |bird| %>
          <div class="card flex-column col-5 b-1 m-2 p-4">

            <h5><%= link_to bird.title, bird_path(bird.id), class: "bird-card-title" %></h5>
            <%= image_tag "bird_example.jpg", class: "dashboard-bird-image" %>

            <p>$ <%= bird.price %></p>
            <p>Categories: <%= bird.categories %></p>
            <br>

            <!-- Add the Update Button here -->
            <%= link_to "Update", edit_bird_path(bird), class: "btn btn-update mt-2" %>

            <!-- Optional: Delete Button -->
            <%= button_to "Delete", bird_path(bird.id), data: { turbo_confirm: "Are you sure you want to delete #{bird.title}?" }, method: :delete, class: "btn btn-cancel mt-2" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
