
<div class="row">
<div class="col-6">
  <h2>Your bookings</h2>

</div>
<div class="col-6">
  <h2>Your birds</h2>
    <div class="d-flex flex-row flex-wrap">
      <% if @birds == nil %>
        <div class="message">
          <p>You have no birds for rental yet</p>
        </div>

        <%= link_to "Create bird",  new_bird_path, class: "btn-dashboard btn btn-primary mt-3"%>
      <% else %>
        <% @birds.each do |bird| %>
          <div class="card flex-column col-3 b-1 m-2 p-4">
            <h5><%= link_to bird.title, bird_path(bird.id) %></h5>
            <img src="<%= bird.title %>" alt="bird" height=200px>
            <p><%= bird.description %></p>
            <p>$ <%= bird.price %></p>
            <p>Categories: <%= bird.categories %></p>
          </div>
        <% end %>
      <% end %>


    </div>
</div>

</div>
