<!-- app/views/birds/show.html.erb -->
<h1>Bird Information</h1>

<h2><%= @bird.title.titleize %></h2>

<p><strong>Description:</strong> <%= @bird.description %></p>
<p><strong>Price:</strong> <%= number_to_currency(@bird.price) %></p>
<p><strong>Categories:</strong> <%= @bird.categories %></p>


<%= button_to 'Delete Bird', bird_path(@bird), method: :delete, data: { confirm: 'Are you sure you want to delete this bird?' }, class: 'btn btn-danger' %>
